body{
	background: url(https://source.unsplash.com/B1Zcy2ZV9gQ/1600x900);
	background-size: cover;
	background-position: center;
	color: white;
}
.url{
	background:rgba(20,245,160,0.3);
	border-radius: 20px;
	text-align: center;
}
.pre{
	background: rgba(0,0,0,0.5);
	border-radius: 20px;
	text-align: center;
	height: 
}
.form-control{
	width: 100%;
	border-radius: 40px;
}
.btn-default{
	border-radius: 10px;
}
#input{
	display: inline-flex;
	margin: 40px;
}
.inside{
    display: inline-grid;
    background: rgba(153, 51, 255,0.2);
    margin: 5px;
    border-radius: 34px;
}
a{
	color:aqua;
}
a:hover{
	color: blanchedalmond;
}